h1 {color: rgb(0, 0, 0);}

.title 
{
    background-color: #aceedd;
    display : flex;
    justify-content: space-between;
}
.Cricketers
{
    background-color: brown;
    display: flex;
    justify-content: space-around;
}
.youtubediscord
{
    background-color: rgb(69, 15, 105);
    display: inline-flex;
    justify-content: space-around;
}